@media only screen and (max-width: 1024px) {

    .mega-header .header-top.mobile-phone {
        padding: 16px 0;
        margin: 0 auto;
    }

    .header-top .navbar-brand img {
        width: 72px;
        height: auto;
    }

    .header-top .search-mobile img {
        width: 23px;
        height: 25px;
    }

    .navbar-light .navbar-toggler {
        border-color: transparent;
    }

    .mega-header .header-main .search-box {
        top: 123px;
    }

    .athletes .banner .container .row .caption-text h2 {
        max-width: 400px;
        font-size: 40px;
    }

    .banner-box .container h1 {
        font-size: 41px;
    }

    .lightbox .gallery-area .lightgallery li {
        width: 48%;
    }

    .detail-team .about .id-card-box .items-active .item-list > div {
        display: flex;
        flex-wrap: wrap;
    }

    .detail-team .about .id-card-box .items-active .item-list .row {
        width: 50%;
        border-top: 0;
        align-items: baseline;
    }

    .detail-team .about .id-card-box .items-active .item-list .row:first-child .txt {
        width: 70%;
    }

    .detail-team .about .id-card-box .items-active .item-list .row:nth-child(odd) {
        border-right: 1px solid #ddd;
    }

    .detail-team .about .id-card-box .items-active .item-list .row:nth-child(even) {
        padding-left: 30px;
    }

    .detail-team .about .id-card-box .items-active .item-list .row:nth-child(11) {
        align-items: end;
    }

    .detail-team .about .id-card-box .items-active .item-list .row .txt .profile-row span {
        margin: 0;
    }
}

@media only screen and (max-width: 960px)  {

    .mega-header .header-top.mobile-phone.scrollUp {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 3;
        background-color: #fff;
        margin: 0 auto;
        box-shadow: 1px 2px 2px #ddd;
    }

    .mega-header .header-main .container .row .collapse {
        display: none;
    }

    .mega-header .header-main.scrollUp {
        background-color: transparent;
        box-shadow: 0 0 0 transparent;
        z-index: 2;
    }

    .mega-header .header-main.scrollUp .navbar-collapse {
        display: none;
    }

    .mega-header .search-box.display-on {
        top: 75px;
    }

    .mega-header .header-main.scrollUp .search-box.display-on {
        top: 78px;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: block;
    }

    .header-mobile {
        display: block;
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 2;
        top: 67px;
    }

    .latest-news .carousel .slick-list .slick-track {
        margin: 0 auto;
    }

    .latest-news .carousel div article img {
        width: 100%;
    }

    .latest-news .carousel div article .news-topic-label {
        right: 0;
        font-size: 14px;
    }

    .slick-prev {
        left: 0;
        z-index: 1;
    }

    .slick-next {
        right: 0;
    }

    .slick-next, .slick-prev {
        top: 37%;
    }

    .olympic-games .carousel-list-2 .slick-arrow {
        top: 30%;
        bottom: auto;
    }

    .related-posts .box-area .row .box .news-topic-label {
        font-size: 12px;
    }

    .olympic-channel .container {
        max-width: 720px;
    }

    .olympic-channel .heading a.links {
        font-size: 13px;
        width: 200px;
        text-align: center;
    }

    .olympic-channel .cards-area .row .card .card-body h5 {
        font-size: 15px;
    }

    .olympic-channel .cards-area .row .card .card-body h5 a {
        font-size: 12px;
    }

    .footer {
        margin-top: 20px;
    }

    .footer .footer-top .row div p {
        font-size: 14px;
    }

    .footer .footer-top .row div ul li a {
        font-size: 10px;
    }

    .athletes .banner .container,
    .athletes .banner.red-banner .container {
        padding: 85px 68px 28px;
        text-align: center;
    }

    .athletes .banner .container .row .caption-text a.cta-link,
    .athletes .banner .container .caption-text {
        margin: 0 auto;
    }

    .athletes .banner .container img {
        display: none;
    }

    .result .table .col3 {
        width: 30%;
    }

    .result .table .col4 {
        width: auto;
    }

    .detail-team .add-text-section .container .wrapper-section a {
        width: 40%;
    }

    .detail-team .add-text-section .container .wrapper-section .text-box {
        width: 52%;
    }

    .detail-team .add-text-section .container .wrapper-section .text-box p {
        font-size: 14px;
    }

    .detail-news .top-title h1 {
        font-size: 35px;
    }

    .detail-news .post-wrapper {
        padding: 3px 0 17px;
    }

    .detail-news .post-wrapper .info-col {
        position: relative;
        width: 100%;
    }

    .detail-news .post-wrapper .info-col::before {
        content: none;
    }

    .detail-news .post-wrapper .info-col dl dt,
    .detail-news .post-wrapper .info-col dl dd {
        display: inline;
        font-size: 13px;
        margin-right: 10px;
    }

    .detail-news .post-wrapper .social-col {
        position: static;
        width: auto;
        overflow: hidden;
        margin: 0px 0 26px;
    }

    .detail-news .post-wrapper .social-col li {
        float: left;
        min-width: 95px;
        margin: 0 15px 10px 0;
    }

    .detail-news .post-wrapper .info-col dl dt:nth-child(3),
    .detail-news .post-wrapper .info-col dl dd:last-child {
        display: none;
    }

    .detail-news .post-wrapper .post-box h5 {
        font-size: 19px;
    }

    .detail-news .post-wrapper .post-box p {
        font-size: 15px;
        line-height: 2;
    }

    .detail-news .related-posts .box-area .row .box {
        width: 48%;
        margin-right: 2%;
    }

    .detail-news .search {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px)  {

    .olympic-channel .container {
        max-width: 540px;
    }

    .olympic-channel .cards-area .row {
        margin: 0 auto !important;
    }

    .olympic-channel .cards-area .row .card {
        width: 100%;
        margin-bottom: 25px;
    }

    .team .filter-countries .countries .box {
        width: 25%;
    }

    .detail-team .about .id-card-box .items-active .item-list .row:nth-child(even) {
        padding-left: 0;
    }

    .detail-team .about .id-card-box .items-active .item-list .row {
        display: flex;
        width: 100%;
        border-top: 1px solid #ddd;
        border-right: 0;
        padding: 15px 0 17px;
        font-size: 11.7px;
    }

    .detail-team .about .id-card-box .items-active .item-list .row:nth-child(odd) {
        border-right: 0;
    }

    .detail-team .about .id-card-box .items-active .item-list .list-wrapper .row .txt {
        width: 63%;
    }

    .detail-athlete .profile-athlete {
        padding: 0;
        height: 500px;
    }

    .detail-athlete .profile-athlete .bg-image img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .detail-athlete .profile-athlete .container {
        position: absolute;
        bottom: 0;
        padding: 0;
        max-width: 100%;
    }

    .detail-athlete .profile-athlete .container .profile-box {
        display: flex;
        padding: 30px 40px 20px;
        margin: 0;
    }

    .detail-athlete .profile-athlete .container .profile-box .profile-image {
        margin: 0 25px 0 0;
    }

    .detail-athlete .profile-athlete .container .profile-box .profile-image img {
        width: 90px;
    }

    .detail-athlete .profile-athlete .container .profile-box .text-box .profile-row,
    .detail-athlete .profile-athlete .container .profile-box .text-box .medal-box {
        justify-content: end;
    }

    .detail-athlete .profile-athlete .container .profile-box .text-box .medal-box .medal:first-child {
        margin-left: 0;
    }

    .detail-athlete .id-athlete .bio::before,
    .detail-athlete .id-athlete .bio > div::before {
        content: none;
    }

    .detail-athlete .id-athlete .bio > div {
        width: 47%;
        padding: 0;
    }

    .detail-athlete .id-athlete .bio .text-box strong {
        display: inline;
        font-size: 18px;
        margin: 0 33px 0 0;
    }

    .detail-athlete .id-athlete .bio .text-box a,
    .detail-athlete .id-athlete .bio .text-box p {
        font-size: 18px;
        margin: 0 auto;
    }


    .detail-athlete .id-athlete .bio .text-box {
        flex-direction: row;
        justify-content: end;
        text-transform: uppercase;
        align-items: baseline;
        padding: 0 0 17px;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }

    .related-posts .box-area .row {
        justify-content: end;
    }

    .detail-athlete .related-posts .box-area .row .box {
        width: 47%;
        margin: 0 15px 15px 0;
    }

}

@media only screen and (max-width: 767px)  {

    .mega-header .header-main.scrollUp .search-box.display-on {
        top: 76px;
    }
    
    .athletes .banner {
        min-height: 250px;
    }

    .athletes .banner .container .row {
        margin: 0 auto;
    }

    .athletes .banner .container,
    .athletes .banner.red-banner .container {
        padding: 67px 0 28px;
    }

    .athletes .banner .container .row .caption-text h2 {
        font-size: 28px;
    }

    .related-posts .box-area .row {
        margin: 0 auto !important;
    }

    .related-posts .box-area .row .box {
        width: 100%;
        margin-bottom: 25px;
    }

    .follow-us .container .box-area .box {
        width: 100%;
        margin-bottom: 20px;
    }

    .follow-us .container .box-area .box a {
        height: 45px;
    }

    .follow-us .container .box-area .box a i {
        top: 3px;
    }

    .follow-us .container .box-area .box a p {
        display: none;
        bottom: 9px;
        margin-bottom: 0;
    }

    .follow-us .container .box-area .box a p.mobile-sm {
        display: block;
    }

    .footer .footer-top {
        display: none;
    }

    .footer .footer-mobile-sm {
        display: block;
    }

    .footer .footer-bottom .container .row {
        flex-direction: column-reverse;
    }

    .footer .footer-bottom .container .row .footer-left {
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-bottom .container .row .footer-left .logo-footer {
        margin-bottom: 40px;
    }

    .footer .footer-bottom .container .row .footer-right {
        margin-bottom: 40px;
    }

    .result .table .table-heading {
        display: none;
    }

    .result .table .list-result .list {
        flex-direction: column;
        border-bottom: 0;
    }

    .result .table .list-result .list .col1 {
        display: none;
    }

    .result .table .list-result .list > div {
        width: 100%;
        border-top: 1px solid #ddd;
    }

    .result .table .list-result .list .col3,
    .result .table .list-result .list .col4 {
        padding-left: 60px;
        text-transform: uppercase;
    }

    .result .table .list-result .list .col2 a {
        display: flex;
    }

    .result .table .list-result .list .col2 img {
        height: 45px;
    }

    .result .table .list-result .list .col2 .area .profile-row {
        display: flex;
    }

    .team .filter-countries .countries .box {
        width: 50%;
        margin: 0 auto 9px;
    }

    .banner-box .container h1 {
        font-size: 28px;
    }

    .detail-team .add-text-section .container .wrapper-section a {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px
    }

    .detail-team .add-text-section .container .wrapper-section .text-box {
        width: 100%;
    }

    .lightbox .gallery-area .lightgallery li {
        width: 100%;
        margin: 0 auto 20px;
    }

    .lightbox .gallery-area .lightgallery li:nth-child(odd) {
        margin-right: 0;
    }

    .detail-team .about .id-card-box {
        border-right: 0;
        border-left: 0;
    }

    .detail-team .result .table .list-result .list .col1 {
        display: block;
    }

    .detail-team .result .table .list-result .list .col1 a {
        font-weight: 700;
    }

    .detail-team .result .table .list-result .list .col2 {
        padding-left: 60px;
    }

    .detail-team .result .table .list-result .list .medal-area {
        justify-content: end;
    }

    .detail-athlete .profile-athlete {
        height: auto;
    }

    .detail-athlete .profile-athlete .bg-image {
        display: none;
    }

    .detail-athlete .profile-athlete .container {
        position: relative;
    }

    .detail-athlete .profile-athlete .container .profile-box {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .detail-athlete .profile-athlete .container .profile-box .profile-image {
        margin: 0 auto;
    }

    .detail-athlete .profile-athlete .container .profile-box .profile-image img {
        width: 140px;
    }

    .detail-athlete .profile-athlete .container .profile-box .text-box {
        padding-top: 9px;
    }

    .detail-athlete .profile-athlete .container .profile-box .text-box h1 {
        font-size: 28px;
    }

    .detail-athlete .profile-athlete .container .profile-box .text-box .profile-row,
    .detail-athlete .profile-athlete .container .profile-box .text-box .medal-box {
        justify-content: center;
    }

    .detail-athlete .id-athlete {
        display: none;
    }

    .detail-athlete .related-posts .box-area .row .box {
        width: 100%;
        margin: 0 0 15px 0;
    }

    .detail-athlete .result .list-result .list .col1 {
        display: block;
    }

    .detail-athlete .result .list-result .list .area {
        display: unset;
    }

    .detail-athlete .result .table .list-result .list .col2,
    .detail-athlete .result .table .list-result .list .col3 {
        float: left;
    }

    .detail-athlete .result .table .list-result .list .col2 {
        width: 20%;
    }

    .detail-athlete .result .table .list-result .list .col3 {
        width: 80%;
    }

    .detail-athlete .result .table .list-result .list .col3,
    .detail-athlete .result .table .list-result .list .col4 {
        padding-left: 0;
    }

    .detail-athlete .result .table .list-result .list .col4 {
        color: #666;
        font-size: 12px;
    }

    .related-athlete .related-list li {
        width: 50%;
        margin-bottom: 30px;
    }

    .related-athlete .related-list li .list a .name {
        font-size: 14px;
    }

    .detail-news .related-posts .box-area .row .box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10%;
    }

    .detail-news .quick-links {
        float: none;
    }
    
    .detail-news .quick-links span.opener,
    .detail-news .quick-links .list-select,
    .detail-news .quick-links .btn-box {
        display: none;
    }

    .detail-news .quick-links select.form-control {
        display: block;
        padding: 11px 23px 10px 13px;
        margin: 0;
        font: inherit;
        outline: 0;
        line-height: 1.2;
        background: #fff;
        border-radius: 0;
        width: 100%;
        border: 1px solid #ddd;
        font-size: .836em;
        line-height: 1.282em;
        color: #acacac;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
    }

    .detail-news .quick-links select.form-control:focus {
        box-shadow: 0 0 0 transparent;
    }
}

@media only screen and (max-width: 375px) {
    .detail-team .about .id-card-box .items-active .item-list .list-wrapper .row .txt {
        width: 50%;
    }
}
