/* ===============================

    I. Index.html

        I. Banner Home
        II. Latest News
        III. Olympic Games
        IV. Ads
        V. Social Wall
        VI. Olympic  Channel
        VII. Follow Us

    II. Athletes.html

        I. Masonry Slider
        II. Search Athlete
        III. List Athletes
        IV. Featured Athletes
        V. Blue Banner
        VI. Related Posts
        VII. Red Banner

    III. Team.html

        I. Banner Box
        II. Search Team
        III. Filter Countries

    IV. Detail-Athlete.html
        
        I. Profile Athlete
        II. id Athlete
        III. Text Content
        IV. Related Posts
        V. Result
        VI. Related Athlete

    V. Detail-Team.html
        I. 
        II. 
        III.
        IV. 
        V. 
        VI. 

================================ */

/* Banner Home */
.banner-home {
    height: 60vh;
    position: relative;
    margin: 10px 0 55px;
    overflow: hidden;
    min-height: 500px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.banner-home .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/banner-image.jpg');
    background-size: cover;
    background-position: left;
}

.banner-home .text-box {
    width: 1130px;
    max-width: 1103px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 1.75em;
    position: relative;
    color: #fff;
}

.banner-home .text-box .bg-color {
    margin-left: auto;
    max-width: 370px;
    background: #000;
    background: rgba(0,0,0,.3);
    padding: 25px;
}

.banner-home .text-box .bg-color .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
}

.banner-home .text-box .bg-color .mobile-hide {
    margin-top: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.banner-home .text-box .bg-color .mobile-hide a {
    display: block;
    background: rgba(0,0,0,.1);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 19px 24px 20px;
    width: auto;
    font-family:  'Roboto Condensed',sans-serif;
    font-size: 21px;
    line-height: 23px;
    font-weight: bold;
    position: relative;
    margin: 0;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.banner-home .text-box .bg-color .mobile-hide a:hover {
    background: rgba(0,0,0,.5);
    color: #fff;
}

.banner-home .text-box .bg-color .mobile-hide a::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-left: 0;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    top: 3px;
}

/* Latest News */
.latest-news {
    padding-bottom: 30px;
}

.latest-news .carousel div article {
    position: relative;
}

.latest-news .carousel div article img {
    margin-bottom: 16px;
}

.latest-news .carousel div article .news-topic-label {
    position: absolute;
    top: 0;
    right: 30px;
    background: #999;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 10px;
    margin: 0 0 23px;
    vertical-align: top;
}

.latest-news .carousel div article .news-topic-label.innsburck1976,
.latest-news .carousel div article .news-topic-label.innsburck1964,
.latest-news .carousel div article .news-topic-label.tokyo2020 {
    background-color: #ed1d24;
}

.latest-news .carousel div article .news-topic-label.beijing2022 {
    background-color: #1367a7;
}

.latest-news .carousel div article h2 {
    margin: 0 0 9px;
    color: #333;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;

}

.latest-news .carousel div article h2 a {
    color: #333;
    font-size: 19px;
    font-weight: bold;
}

.latest-news .carousel div article h2 a:hover {
    text-decoration: none;
    color: #0081c8;
}

.latest-news .carousel div article span.time {
    display: block;
    color: #999;
    line-height: 1.143em;
    text-transform: uppercase;
    font-weight: 500;
}

.latest-news .carousel .slick-list.draggable {
    padding: 0 !important;
}

.latest-news .carousel .slick-list .slick-track {
    margin: 0 15px;
}

hr.alt {
    margin: 60px auto;
    clear: both;
}

/* Olympic Games */
.olympic-games {
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
}

.olympic-games .carousel-list-2 {
    height: 300px;
}

.olympic-games .carousel-list-2::before {
    position: absolute;
    width: 9999px;
    left: -999px;
    bottom: 15px;
    height: 2px;
    background: #ddd;
    content: "";
}

.olympic-games .carousel-list-2 .slick-slide {
    font-size: 16px;
    color: #bababa;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    position: relative;
    height: 300px;
    text-transform: uppercase;
    font-weight: 700;
}

.olympic-games .carousel-list-2 .slick-slide::before {
    position: absolute;
    left: 50%;
    bottom: 12px;
    margin: 0 0 0 -5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    content: "";
    background: #ddd;
}

.olympic-games .carousel-list-2 div img {
    margin: 0 auto 50px;
}

.olympic-games .carousel-list-2 .slick-arrow {
    top: auto;
    bottom: -4px;
    z-index: 2;
    background-color: white;
}

/* Ads */

.ads {
    margin: 75px auto;
    text-align: center;
}

/* Social Wall */

.social-wall .load-more .btn.btn-danger {
    width: 100%;
    border-radius: 0;
    background-color: #cf0072;
    font-size: 24px;
}

.social-wall .load-more .btn.btn-danger:hover {
    background-color: #970254;
    font-size: 26px;;
}

.social-wall .load-more .btn.btn-danger:focus,
.social-wall .load-more .btn.btn-danger:active {
    box-shadow: 0 0 0 0 transparent;
}

/* Olympic  Channel */

.olympic-channel {
    background-color: #eef0f1;
    margin-bottom: 70px;
    padding-bottom: 20px;
}

.olympic-channel .container {
    max-width: 960px;
}

.olympic-channel .heading {
    padding: 40px 0;
    margin: 0 auto;
}

.olympic-channel .heading img {
    max-width: 60px;
}

.olympic-channel .cards-area .row {
    justify-content: space-between;
}

.olympic-channel .cards-area .row .card {
    /* border: 0; */
    /* background-color: transparent; */
    overflow: hidden;
}

.olympic-channel .cards-area .row .card img {
    object-fit: cover;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 145px;
    transition: all .5s;
    max-width: 100%;
}

.olympic-channel .cards-area .row .card img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.olympic-channel .cards-area .row .card .card-body {
    border-radius: .25rem;
    min-height: 100px;
    max-height: 140px;
}

.olympic-channel .cards-area .row .card .card-body h5 {
    font-size: 18px;
}

.olympic-channel .cards-area .row .card .card-body h5 a {
    color: #384959;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.olympic-channel .cards-area .row .card .card-body a:hover {
    text-decoration: none;
    color: #007bff;
}

/* Follow Us */
.follow-us .container .box-area .box {
    padding: 0 10px;
    width: 33.33%;
    position: relative;
}

.follow-us .container .box-area .box a {
    background: #3b5998;
    height: 217px;
    text-decoration: none;
    color: #fff;
    display: block;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.follow-us .container .box-area .box.facebook a:hover {
    background-color: #2d4373;
}

.follow-us .container .box-area .box.twitter a {
    background-color: #55acee;
}

.follow-us .container .box-area .box.twitter a:hover {
    background-color: #2795e9;
}

.follow-us .container .box-area .box.youtube a {
    background-color: #e52d27;
}

.follow-us .container .box-area .box.youtube a:hover {
    background-color: #c21d17;
}

.follow-us .container .box-area .box a i {
    font-size: 28px;
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: 38px;
}

.follow-us .container .box-area .box a p {
    position: absolute;
    left: 26px;
    bottom: 24px;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    width: 210px;
}

/* Athletes.html */

.athletes .masonry-slider {
    margin-top: 20px;
}

.athletes .masonry-slider .container {
    padding: 0;
}

.athletes .masonry-slider .grid {
    margin: 0  auto;
}

.athletes .masonry-slider .grid::after {
    content: "";
    display: block;
    clear: both;
}

/* .athletes .masonry-slider .grid-sizer {
    width: 110px;
} */

.athletes .masonry-slider .grid-item {
    position: relative;
    width: 30%;
}

.athletes .masonry-slider .grid-item {
    float: left;
}

.athletes .masonry-slider .grid-item a img {
    width: 100%;
    height: 320px;
}

.athletes .masonry-slider .grid-item a .caption {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 25px 15px;
    background-color: rgba(0,0,0,.5);
    color: #999;
}

.athletes .masonry-slider .grid-item a:hover .caption {
    display: flex;
}

.athletes .masonry-slider .grid-item a .caption span {
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
}

.athletes .masonry-slider .grid-item a .caption strong.name {
    float: left;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.athletes .masonry-slider .grid-item.col {
    padding: 0;
}

.athletes .masonry-slider .grid-item.col .coloumn-2 {
    position: relative;
}

.athletes .masonry-slider .grid-item.col .coloumn-2 img {
    height: 160px;
}

/* Search Athletes */

.athletes .search-athletes {
    margin: 59px auto 70px;
}

.athletes .search-athletes .input-group {
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.athletes .search-athletes .input-group-prepend .input-group-text {
    background-color: transparent;
    color: #ddd;
    font-size: 13px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    border: 0;
}

.athletes .search-athletes .form-control {
    border: 0;
    font-size: 13px;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.athletes .search-athletes .form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0 transparent;
}

.athletes .search-athletes .input-group-append .input-group-text {
    background-color: #ddd;
    color: #fff;
    width: 40px;
    height: 44px;
    font-size: 14px;
    padding: 0;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Roboto-condensed', sans-serif;
    border-radius: 0;
    cursor: pointer;
}

/* List Athletes */

/* Load More */

.load-more {
    text-align: center;
    margin-bottom: 58px;
}

.load-more a {
    display: inline-block;
    vertical-align: top;
    color: #959595;
    border: 2px solid #959595;
    padding: 7px 20px;
    min-width: 110px;
    text-decoration: none!important;
    font-weight: 700;
    line-height: 2em;
}

.load-more a:hover {
    color: #494949;
    border-color: #494949;
}

/* Featured Athletes */

.featured-athletes {
    padding: 69px 0 100px;
}

.featured-athletes .carousel-athletes a {
    position: relative;
    margin: 0 10px;
}

.featured-athletes .carousel-athletes div {
    position: relative;
}

.featured-athletes .carousel-athletes a .athlete-name {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    background: rgba(51,51,51,.5);
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 22px 0 20px;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.featured-athletes .carousel-athletes a:hover .athlete-name {
    background: rgba(51,51,51,.8) ;
}

/* Blue Banner */
.athletes .banner {
    background: #acacac;
    min-height: 500px;
    margin-bottom: 76px;
}

.athletes .banner.blue-banner {
    background-color: #0081c8 !important;
}

.athletes .banner .container {
    padding: 104px 68px 28px 0;
}

.athletes .banner .container .row {
    align-items: center;
}

.athletes .banner .container .row .caption-text h2 {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 41px;
    text-transform: uppercase;
    color: #fff;
    max-width: 570px;
}

.athletes .banner .container .row .caption-text a.cta-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,.1);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 19px 24px 20px;
    width: 360px;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 17px;
    position: relative;
    margin: 0 0 76px;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.athletes .banner .container .row .caption-text a.cta-link:hover {
    background: rgba(0,0,0,.3);
    color: #fff;
    text-decoration: none;
}

/* Red Banner */
.athletes .banner.red-banner {
    background-color: #ed1941 !important;
    margin-bottom: 0;
}

.athletes .banner.red-banner .container {
    padding-top: 0;
    padding-bottom: 0;
}

/* Team.html */

/* Banner Box */
.banner-box {
    background: #333;
    text-align: center;
    margin: 0 0 60px;
    position: relative;
}

.banner-box .container {
    max-width: 1090px;
    padding: 61px 15px 22px;
    margin: 0 auto;
    min-height: 180px;
    position: relative;
}

.banner-box .container h1 {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 33px;
    font-size: 56px;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner-box .container .dropdown a.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #ccc;
    line-height: 1.143em;
    font-weight: 700;
    background: transparent;
    border: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.banner-box .container .dropdown a.btn:active,
.banner-box .container .dropdown a.btn:focus {
    box-shadow: 0 0 0 0 transparent;
}

.banner-box .container .dropdown.show .dropdown-menu.show {
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    box-shadow: 1px 5px 7px rgba(0,0,0,.3);
    width: 320px;
    position: absolute;
    left: 50% !important;
    margin: 0 0 0 -164px;
    top: 28px !important;
    z-index: 5;
    font-weight: 400;
    line-height: 1.75em;
    text-align: left;
    padding: 29px 25px 27px 33px;
    color: #666;
    border-color: #fff;
    transform: none !important;
}

.banner-box .container .dropdown.show .dropdown-menu.show:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-color: #fff;
    bottom: 100%;
    left: 50%;
    margin-bottom: 0;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-bottom-color: inherit;
}

.banner-box .container .dropdown.show .dropdown-menu.show p {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner-box .container .dropdown.show .dropdown-menu.show p a {
    text-decoration: underline;
    color: #000;
}

.banner-box .container .dropdown.show .dropdown-menu.show p a:hover {
    color: #000;
}

/* Search Team */

.team .search-team {
    margin: 59px auto 70px;
}

.team .search-team .input-group {
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.team .search-team .input-group-prepend .input-group-text {
    background-color: transparent;
    color: #ddd;
    font-size: 13px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    border: 0;
}

.team .search-team .input-group-prepend .input-group-text img {
    width: 20px;
    height: 20px;
}

.team .search-team .form-control {
    border: 0;
    font-size: 13px;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.team .search-team .form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0 transparent;
}

/* Filter Countries */
.team .filter-countries .filters-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: #ddd;
    font-weight: 700;
}

.team .filter-countries .filters-button-group a {
    color: #5c5c5c;
    text-transform: uppercase;
    margin: 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.team .filter-countries .filters-button-group a:hover {
    text-decoration: none;
    color: #5c5c5c;
}

.team .filter-countries .filters-button-group a.btn.is-checked {
    color: #000;
}

.team .filter-countries .countries {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.team .filter-countries .countries .box {
    text-align: center;
    margin: 0 0 30px;
    width: 16.66%;
    min-height: 120px;
    padding: 0 18px;
    height: 120px
}

.team .filter-countries .countries .box a {
    color: #bababa;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.team .filter-countries .countries .box a:hover {
    color: #777;
}

.team .filter-countries .countries .box .flag-image {
    margin: 0 auto 32px;
}

/* Detail-Athlete.html */

/* Profile Athlete */
.detail-athlete .profile-athlete {
    position: relative;
    width: 100%;
    padding: 125px 0 60px;
    text-align: left;
    overflow: hidden;
}

.detail-athlete .profile-athlete .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Ali_Muhammed_banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.detail-athlete .profile-athlete .bg-image img {
    display:none;
}

.detail-athlete .profile-athlete .container .profile-box {
    background: #fff;
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 20px;
    text-align: center;
    border-radius: 1px;
    padding: 28px 20px 20px;
    line-height: 1.143em;
    position: relative;
}

.detail-athlete .profile-athlete .container .profile-box .profile-image {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto 22px;
    text-align: center;
    position: relative;
}

.detail-athlete .profile-athlete .container .profile-box .profile-image img {
    vertical-align: middle;
    border-radius: 178px;
}

.detail-athlete .profile-athlete .container .profile-box .text-box h1 {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    letter-spacing: -2px;
    color: #333;
    margin: 0 0 12px;
    text-transform: uppercase;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .profile-row {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 20px;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .profile-row .flag-image {
    margin-top: 2px;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .medal-box {
    margin: 0 0 6px;
    padding: 0;
    overflow: hidden;
    font: 1.336em/1.07em 'Roboto Condensed',Arial,Helvetica,sans-serif;
    color: #dab509;
    display: flex;
    justify-content: center;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .medal-box div {
    align-items: center;
    margin: 0 9px 10px;
    display: flex;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .medal-box div span.num {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    padding: 3px 0 0;
    border: 2px solid #dab509;
    text-align: center;
    color: #dab509;
    margin-left: 7px;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .medal-box .medal.silver span {
    color: #a1a1a1;
    border-color: #a1a1a1;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .medal-box .medal.bronze span {
    color: #ae7058;
    border-color: #ae7058;
}


/* id Athlete */

.detail-athlete .id-athlete {
    background: #666;
    width: 100%;
    font: 700 1.5em/1.07em 'Roboto Condensed',Arial,Helvetica,sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding: 35px 0 37px;
    margin: 0 0 60px;
}

.detail-athlete .id-athlete.usa {
    background-color: #b22234;
}

.detail-athlete .id-athlete .bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.detail-athlete .id-athlete .bio > div {
    position: relative; 
    padding: 10px 40px;
}

.detail-athlete .id-athlete .bio::before,
.detail-athlete .id-athlete .bio > div::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 70px;
    background: #fff;
    background: rgba(255,255,255,.3);
}

.detail-athlete .id-athlete .bio > div::before {
    right: auto;
    left: 0;
}

.detail-athlete .id-athlete .bio .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
}

.detail-athlete .id-athlete .bio .text-box strong {
    font-size: .857em;
    line-height: 1.07em;
    color: #fff;
    color: rgba(255,255,255,.4);
    display: block;
    font-weight: 400;
    margin: 0 0 6px;
}

.detail-athlete .id-athlete .bio .text-box a {
    color: #fff;
    text-decoration: none;
}

/* Text Content */
.detail-athlete .text-content {
    max-width: 730px;
    margin: 0 auto 55px;
    padding: 0 15px;
    text-align: center;
}

.detail-athlete .text-content p {
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin-bottom: 2em;
    text-align: left;
}

.detail-athlete .text-content h5 {
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #222222;
    font-weight: 700;
    margin-bottom: .75em;
    text-align: left;
}

.detail-athlete .text-content .extra-content {
    display: none;
}

.detail-athlete .text-content .load-more {
    text-align: center;
    margin: 18px 0 0;
}

.detail-athlete .text-content .load-more a {
    display: inline-block;
    vertical-align: top;
    color: #959595;
    border: 2px solid #959595;
    padding: 7px 20px;
    min-width: 110px;
    text-decoration: none!important;
    font-weight: 700;
    line-height: 2em;
    text-decoration: none;
}

.detail-athlete .text-content .load-more a:hover {
    color: #494949;
    border-color: #494949;
}


/* Related Posts */
.detail-athlete .related-posts .box-area .row .box {
    width: 33%;
}

/* Result */

.detail-athlete .result {
    margin: 50px auto;
}

.detail-athlete .result .table .col1 {
    float: left;
}

.detail-athlete .result .table .col1 {
    width: 20%;
    padding-left: 5px;
}

.detail-athlete .result .table .col2 {
    width: 19%;
}

.detail-athlete .result .table .col3 {
    width: 13%;
}

.detail-athlete .result .area {
    display: flex;
    width: 75%;
}

.detail-athlete .result .list-result .list {
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #222222;
}

.detail-athlete .result .list-result .col1 {
    padding: 24px 0 0;
}

.detail-athlete .result .list-result .list .col1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222222;
}

.detail-athlete .result .list-result .list .area {
    padding: 27px 0;
    align-items: center;
}

.detail-athlete .result .table .list-result .list .medal-area {
    margin: 0 auto;
}

/* Related Athlete */

.related-athlete {
    margin: 50px auto;
}

.related-athlete .related-list {
    justify-content: space-around;
}

.related-athlete .related-list li {
    text-align: center;   
}

.related-athlete .related-list li .list {
    display: inline-block;
    vertical-align: top;
    width: 140px;
}

.related-athlete .related-list li .list a {
    font-size: 1.164em;
    line-height: 1.104em;
    display: block;
    margin: 0 0 8px;
    color: #333;
    font-weight: 400;
    word-break: break-word;
    text-align: center;
    text-decoration: none;
}

.related-athlete .related-list li .list .image img {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 auto 11px;
    border-radius: 50%;
}

.related-athlete .related-list li .list a .name {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 8px;
}

.related-athlete .related-list li .list .profile-row {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.related-athlete .related-list li .list .profile-row span {
    font-size: 15px;
    text-transform: uppercase;
}

/* Detail-Team.html */

/* Banner Box */

.detail-team .noc-afg {
    background-color: #bf0000 !important;
}

.detail-team .noc-afg h1 {
    font-weight: 700;
}

/* About */

.detail-team .about .id-card-box {
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 3px 0 0;
    padding: 34px 30px 7px;
}

.detail-team .about .id-card-box .logo-box {
    text-align: center;
    margin: 0 0 48px;
}

.detail-team .about .id-card-box .items-active .item-list .row {
    border-top: 1px solid #ddd;
    padding: 15px 0;
    font-size: 12.8px;
    line-height: 18px;
    margin: 0 auto;
    text-transform: uppercase;
    align-items: center;
}

.detail-team .about .id-card-box .items-active .item-list .row:last-child {
    border-top: 0;
}

.detail-team .about .id-card-box .items-active .item-list .row .label {
    float: left;
    width: 100px;
    color: #999;
    font-weight: 700;
    line-height: 14px;
    margin: 2px 10px 0 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.detail-team .about .id-card-box .items-active .item-list .row a {
    text-decoration: none;
    color: #333;
}

.detail-team .about .id-card-box .items-active .item-list .row .txt .profile-row {
    display: flex;
    align-items: center;
} 

.detail-team .about .id-card-box .items-active .item-list .row .txt .profile-row span {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;
}

/* Add Text Section */

.detail-team .add-text-section .container .wrapper-section {
    padding: 30px 30px 31px;
    line-height: 1.75em;
    color: #333;
    margin: 0 auto 20px;
    background: #ddd;
}

.detail-team .add-text-section .container .wrapper-section .row {
    margin: 0 auto;
}

.detail-team .add-text-section .container .wrapper-section a {
    margin-right: 45px;
}

.detail-team .add-text-section .container .wrapper-section a img {
    width: 100%;
}

.detail-team .add-text-section .container .wrapper-section .text-box {
    width: 50%;
}

.detail-team .add-text-section .container .wrapper-section .text-box h2 {
    text-transform: uppercase;
    font: 700 1.5em/1.061em 'Roboto Condensed',Arial,Helvetica,sans-serif;
    margin: 0 0 13px;
}

.detail-team .add-text-section .container .wrapper-section .text-box p {
    margin: 0 0 22px;
    font-family: 'Montserrat', sans-serif;
}

.detail-team .add-text-section .container .wrapper-section .text-box .add-btn {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #acacac;
    font-weight: 700;
    color: #acacac;
    min-width: 180px;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none!important;
    font-size: 14px;
    line-height: 24.5px;
}

.detail-team .add-text-section .container .wrapper-section .text-box .add-btn.green {
    border-color: #00a651;
    color: #00a651;
}

.detail-team .add-text-section .container .wrapper-section .text-box .add-btn.green:hover {
    color: #fff;
    background-color: #00a651;
}

/* Result Team */
.detail-team .result .table .col1 {
    width: 30%;
}

.detail-team .result .table .image {
    margin-right: 5px;
}

.detail-team .result .table .list-result .list .medal-area {
    justify-content: flex-end;
}

/* Detail News */
.detail-news nav.breadcrumbs {
    background-color: #8c0000;
}

.detail-news nav.breadcrumbs .breadcrumb {
    background-color: transparent;
}

.detail-news nav.breadcrumbs .breadcrumb .breadcrumb-item {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.detail-news nav.breadcrumbs .breadcrumb .breadcrumb-item::before {
    content: " < ";
    position: absolute;
    left: 0;
}

.detail-news nav.breadcrumbs .breadcrumb .breadcrumb-item.active {
    color: #fff;
    position: relative;
    padding-left: 15px;
}

/* Top Title */

.detail-news .top-title {
    padding: 30px 0px 0px;
}

.detail-news .top-title h1 {
    font: 700 2.3em/1.15em "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #333333;
}

/* Image Box */
.detail-news .image-box {
    margin: 30px auto 0;
    padding: 0 15px;
}

.detail-news .post-wrapper {
    position: relative;
    padding: 0 179px 69px;
    margin-top: 40px;
}

.detail-news .post-wrapper .info-col {
    position: absolute;
    left: 0;
    top: 4px;
    width: 145px;
    color: #999;
    font-size: .836em;
    line-height: 1.795em;
    font-weight: 700;
    text-transform: uppercase;
}

.detail-news .post-wrapper .info-col::before {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: -moz-linear-gradient(top,#ddd 0,#ddd 67%,#f4f4f4 87%,#fdfdfd 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ddd),color-stop(67%,#ddd),color-stop(87%,#f4f4f4),color-stop(100%,#fdfdfd));
    background: -webkit-linear-gradient(top,#ddd 0,#ddd 67%,#f4f4f4 87%,#fdfdfd 100%);
    background: -o-linear-gradient(top,#ddd 0,#ddd 67%,#f4f4f4 87%,#fdfdfd 100%);
    background: -ms-linear-gradient(top,#ddd 0,#ddd 67%,#f4f4f4 87%,#fdfdfd 100%);
    background: linear-gradient(to bottom,#ddd 0,#ddd 67%,#f4f4f4 87%,#fdfdfd 100%);
    content: "";
    width: 1px;
}

.detail-news .post-wrapper .info-col dl {
    margin-right: 40px;
}

.detail-news .post-wrapper .info-col dt {
    margin: 0 0 9px;
    line-height: 1.282em;
}

.detail-news .post-wrapper .info-col dd {
    margin: 0 0 22px;
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.detail-news .post-wrapper .info-col dd a {
    color: #666666;
}

.detail-news .post-wrapper .info-col dd a:hover {
    color: #007bff;
}

.detail-news .post-wrapper .social-col {
    position: absolute;
    top: 8px;
    right: 0;
    font-size: .857em;
    line-height: 1.25em;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 3em;
}

.detail-news .post-wrapper .social-col a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 0 5px 0 0;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.detail-news .post-wrapper .social-col .facebook {
    background-color: #3b5998;
}

.detail-news .post-wrapper .social-col .facebook:hover {
    background: #263961;
}

.detail-news .post-wrapper .social-col a:hover span.fab {
    color: #0081c8;
}

.detail-news .post-wrapper .social-col .twitter {
    background-color: #55acee;
}

.detail-news .post-wrapper .social-col .twitter:hover {
    background: #1689e0;
}

.detail-news .post-wrapper .social-col span.fab {
    width: 31px;
    height: 20px;
    border-right: 1px solid rgba(255,255,255,.2);
    font-size: 1.333em;
    line-height: 1.2em;
    margin: 5px 11px 5px 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.detail-news .post-wrapper .social-col span.txt {
    display: inline-block;
    vertical-align: middle;
    padding-right: 7px;
}

.detail-news .post-wrapper .post-box {
    padding-top: 40px;
    position: relative;
}

.detail-news .post-wrapper .post-box h5 {
    text-transform: uppercase;
    font: 700 1.2em 'Roboto Condensed',Arial,Helvetica,sans-serif;
    margin: 0 0 .75em;
}

.detail-news .post-wrapper .post-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0 0 28px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.detail-news .post-wrapper .post-box a {
    text-decoration: underline;
    color: #000;
}

.detail-news .post-wrapper .post-box a:hover {
    color: #0081c8;
}

.detail-news .post-wrapper .post-box .tags {
    font-weight: 700;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 20px 0 31px;
}

.detail-news .post-wrapper .post-box .tags span {
    margin: 0 10px 0 0;
}

.detail-news .post-wrapper .post-box .tags a {
    color: #666666;
    text-decoration: none;
}

.detail-news .post-wrapper .post-box .tags a:hover {
    text-decoration: underline;
}

.detail-news .post-wrapper .post-box .social-col {
    position: relative;
}

.detail-news .post-wrapper .post-box .social-col li {
    display: inline-block;
}

.detail-news .post-wrapper .post-box .social-col a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 0 5px 0 0;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}