/* ===============================

    I. Index.html

        Introduction
        I. Navbar
        II. Banner Home
        III. Latest News
        IV. Olympic Games
        V. Ads
        VI. Related Posts
        VII. Social Wall
        VIII. Olympic  Channel
        IX. Follow Us
        X. Footer

    II. Athletes.html

        I. Masonry Slider
        II. Search Athlete
        III. List Athletes
        IV. Featured Athletes
        V. Blue Banner
        VI. Related Posts
        VII. Red Banner

    III. Team.html

        I. Banner Box
        II. Search Team
        III. Filter Countries

    IV. Detail-Athlete.html
        
        I. Profile Athlete
        II. id Athlete
        III. Text Content
        IV. Related Posts
        V. Gallery Athlete
        VI. Result
        VII. Related Athlete

    V. Detail-Team.html

================================ */


/* Introduction */

.mobile-show {
    display: none;
}

.mobile-sm {
    display: none;
}

.w-70 {
    width: 70% !important;
}

.w-49 {
    width: 49%;
}

.w-40 {
    width: 40% !important;
}

.w-24 {
    width: 24%;
}

.flag-image {
    margin: 3px 10px 0 0;
    overflow: hidden;
    position: relative;
}

.flag-image .flag18 {
    width: 18px;
    height: 12px;
    background: url('../images/flag18x12sprite.webp') no-repeat top left;
}

.flag-image .flag18.gbr { background-position: 0 -1078px; }

.flag-image .flag18.can { background-position: 0 -532px; }

.flag-image .flag18.aut { background-position: 0 -210px; }

.flag-image .flag18.usa { background-position: 0 -3192px; }

.flag-image .flag18.fra { background-position: 0 -1022px; }

.flag-image .flag18.pol { background-position: 0 -2394px; }

.flag-image .flag18.ita { background-position: 0 -1498px; }

.flag-image .flag18.aus { background-position: 0 -196px; }

.flag-image .flag18.guy { background-position: 0 -1274px; }

.flag-image .flag45 {
    background: url(../images/flag45x30sprite.webp) no-repeat top left;
    width: 45px;
    height: 30px;
}

.flag-image .flag45.afg {
    background-position: 0 -32px;
}

.flag-image .flag90 {
    width: 90px;
    height: 60px;
    background: url('../images/flag90x60sprite.webp') no-repeat top left;
    margin: 0 auto;
}

.flag-image .flag90.afg{ background-position: 0 -62px;  }
.flag-image .flag90.aho{ background-position: 0 -124px;  }
.flag-image .flag90.ala{ background-position: 0 -186px;  }
.flag-image .flag90.alb{ background-position: 0 -248px;  }
.flag-image .flag90.alg{ background-position: 0 -310px;  }
.flag-image .flag90.and{ background-position: 0 -372px;  }
.flag-image .flag90.ang{ background-position: 0 -434px;  }
.flag-image .flag90.ant{ background-position: 0 -496px;  }
.flag-image .flag90.anz{ background-position: 0 -558px;  }
.flag-image .flag90.arg{ background-position: 0 -620px;  }
.flag-image .flag90.arm{ background-position: 0 -682px;  }
.flag-image .flag90.aru{ background-position: 0 -744px;  }
.flag-image .flag90.asa{ background-position: 0 -806px;  }
.flag-image .flag90.aus{ background-position: 0 -868px;  }
.flag-image .flag90.aut{ background-position: 0 -930px;  }
.flag-image .flag90.aze{ background-position: 0 -992px;  }
.flag-image .flag90.bah{ background-position: 0 -1054px;  }
.flag-image .flag90.brn{ background-position: 0 -2046px; }
.flag-image .flag90.ban{ background-position: 0 -1116px;  }
.flag-image .flag90.bar{ background-position: 0 -1178px;  }
.flag-image .flag90.bdi{ background-position: 0 -1240px;  }
.flag-image .flag90.bel{ background-position: 0 -1302px;  }

.games35 {
    background: url(../images/games35x35sprite.webp) no-repeat top left;
    width: 35px;
    height: 35px;
}

.games35.games1960-1 {
    background-position: 0 -814px;
}

/* Navbar */

.mega-header .header-top {
    margin: 20px auto;
}

.mega-header .header-top .container .row {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.mega-header .header-top .container .row .social-links ul {
    display: flex;
}

.mega-header .header-top .container .row .social-links ul li {
    margin: auto 10px;
}

.mega-header .header-top .container .row .social-links ul li a {
    color: #b3b3b3;
    transition: .3s ease-in-out;
}

.mega-header .header-top .container .row .social-links ul li a:hover {
    color: #000000;
    transition: .3s ease-in-out;
    text-decoration: none;
}

.mega-header .header-main {
    width: 100%;
}

.mega-header .header-main.scrollUp {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 3;
    box-shadow: 1px 2px 5px #ddd;
    padding: 20px 0;
}

.mega-header .header-main .container .row {
    margin: 0 auto;
}

.mega-header .header-main .container .row .collapse {
    display: flex;
    justify-content: space-between;
}

.mega-header .header-main .container .row .collapse .navbar-nav {
    flex-direction: row;
}

.mega-header .header-main .container .row .collapse .navbar-nav li {
    margin-left: 25px;
    margin-right: 25px;
}

.mega-header .header-main .container .row .collapse .navbar-nav li:first-child {
    margin-left: 0;
}

.mega-header .header-main .container .row .collapse .navbar-nav li:last-child {
    margin-right: 0;
}

.mega-header .header-main .container .row .collapse .navbar-nav li a {
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu {
    position: absolute;
    width: 100%;
    padding: 15px;
    display: none;
    transition-duration: 0.9s;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu.display-on {
    display: block;
    transition-duration: 0.9s;
    background-color: #fff;
    z-index: 1000;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .filter-button-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .filter-button-group .button {
    background-color: transparent;
    color: #b3b3b3;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 14px;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .filter-button-group .button.active {
    color: #000000;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid {
    width: 100%;
    margin: 40px 15px;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item {
    display: none;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item.show {
    display: block !important;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list:before,
.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list:after {
    content:"";
    display:table;
    clear:both;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list {
    float: left;
    position: relative;
    width: 16.67%;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list .summergames a:hover {
    text-decoration: none;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list .summergames .image {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list .summergames .image .games35 {
    background: url('../images/games35x35sprite.webp') no-repeat top left;
    width: 35px;
    height: 35px;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list .summergames .image .games35.losangles2028 {
    background-position: 0 -2072px;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list .summergames .image .games35.beijing2008{
    background-position: 0 -1702px;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list .summergames .image .games35.seoul1988 {
    background-position: 0 -1332px;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list .summergames .image .games35.mexico1968 {
    background-position: 0 -962px;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list .summergames .image .games35.london1948 {
    background-position: 0 -592px;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .mega-menu .grid .element-item .list .summergames .name {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 15px;
}

/* The dots/bullets/indicators */
.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down .dot:hover {
    background-color: #717171;
}

.mega-header .header-main .container .row .collapse .navbar-nav li.drop-down a.nav-link::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-left: 0;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.mega-header .header-main .container .row .collapse .search {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.header-mobile {
    display: none;
}

.mega-header .header-mobile .navbar-collapse .navbar-nav {
    text-align: center;
    text-transform: uppercase;
    font: 700 1.286em/1.056em 'Roboto Condensed',sans-serif;
}

.mega-header .header-mobile .navbar-collapse .navbar-nav .nav-item {
    border-top: 1px solid #e6e6e6;
}

.mega-header .header-mobile .navbar-collapse .navbar-nav .nav-item a {
    padding: 16px 10px 17px;
    text-decoration: none;
    color: #4d4d4d;
}

.mega-header .header-main .search-box {
    position: fixed;
    width: 100%;
    z-index: 3;
    display: none;
    top: 150px;
    left: 0;
}

.mega-header .header-main.scrollUp .search-box.display-on {
    top: 80px;
}

.mega-header .search-box.display-on {
    display: block;
}

.mega-header .search-box .input-group {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.mega-header .search-box .form-control {
    border: 0;
    font-size: 13px;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.mega-header .search-box .form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0 transparent;
}

.mega-header .search-box .input-group-append .input-group-text {
    background-color: #ddd;
    color: #fff;
    width: 40px;
    height: 44px;
    font-size: 14px;
    padding: 0;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Roboto-condensed', sans-serif;
    border-radius: 0;
    cursor: pointer;
}


/* Banner Home */
.banner-home {
    height: 60vh;
    position: relative;
    margin: 10px 0 55px;
    overflow: hidden;
    min-height: 500px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.banner-home .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/banner-image.jpg');
    background-size: cover;
    background-position: left;
}

.banner-home .text-box {
    width: 1130px;
    max-width: 1103px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 1.75em;
    position: relative;
    color: #fff;
}

.banner-home .text-box .bg-color {
    margin-left: auto;
    max-width: 370px;
    background: #000;
    background: rgba(0,0,0,.3);
    padding: 25px;
}

.banner-home .text-box .bg-color .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
}

.banner-home .text-box .bg-color .mobile-hide {
    margin-top: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.banner-home .text-box .bg-color .mobile-hide a {
    display: block;
    background: rgba(0,0,0,.1);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 19px 24px 20px;
    width: auto;
    font-family:  'Roboto Condensed',sans-serif;
    font-size: 21px;
    line-height: 23px;
    font-weight: bold;
    position: relative;
    margin: 0;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.banner-home .text-box .bg-color .mobile-hide a:hover {
    background: rgba(0,0,0,.5);
    color: #fff;
}

.banner-home .text-box .bg-color .mobile-hide a::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-left: 0;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    top: 3px;
}

/* Latest News */
.latest-news {
    padding-bottom: 30px;
}

.latest-news .heading {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 55px;
}

.latest-news .heading h2 {
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.latest-news .heading a.links {
    color: #acacac;
}

.latest-news .heading a.links:hover {
    color: #606060;
    text-decoration: none;
}

.latest-news .carousel div article {
    position: relative;
}

.latest-news .carousel div article img {
    margin-bottom: 16px;
}

.latest-news .carousel div article .news-topic-label {
    position: absolute;
    top: 0;
    right: 30px;
    background: #999;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 10px;
    margin: 0 0 23px;
    vertical-align: top;
}

.latest-news .carousel div article .news-topic-label.innsburck1976,
.latest-news .carousel div article .news-topic-label.innsburck1964,
.latest-news .carousel div article .news-topic-label.tokyo2020 {
    background-color: #ed1d24;
}

.latest-news .carousel div article .news-topic-label.beijing2022 {
    background-color: #1367a7;
}

.latest-news .carousel div article h2 {
    margin: 0 0 9px;
    color: #333;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;

}

.latest-news .carousel div article h2 a {
    color: #333;
    font-size: 19px;
    font-weight: bold;
}

.latest-news .carousel div article h2 a:hover {
    text-decoration: none;
    color: #0081c8;
}

.latest-news .carousel div article span.time {
    display: block;
    color: #999;
    line-height: 1.143em;
    text-transform: uppercase;
    font-weight: 500;
}

.latest-news .carousel .slick-list.draggable {
    padding: 0 !important;
}

.latest-news .carousel .slick-list .slick-track {
    margin: 0 15px;
}

hr.alt {
    margin: 60px auto;
    clear: both;
}

/* Olympic Games */
.olympic-games {
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
}

.olympic-games .heading h2 {
    color: #333333;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.olympic-games .carousel-list-2 {
    height: 300px;
}

.olympic-games .carousel-list-2::before {
    position: absolute;
    width: 9999px;
    left: -999px;
    bottom: 15px;
    height: 2px;
    background: #ddd;
    content: "";
}

.olympic-games .carousel-list-2 .slick-slide {
    font-size: 16px;
    color: #bababa;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    position: relative;
    height: 300px;
    text-transform: uppercase;
    font-weight: 700;
}

.olympic-games .carousel-list-2 .slick-slide::before {
    position: absolute;
    left: 50%;
    bottom: 12px;
    margin: 0 0 0 -5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    content: "";
    background: #ddd;
}

.olympic-games .carousel-list-2 div img {
    margin: 0 auto 50px;
}

.olympic-games .carousel-list-2 .slick-arrow {
    top: auto;
    bottom: -4px;
    z-index: 2;
    background-color: white;
}

/* Ads */

.ads {
    margin: 75px auto;
    text-align: center;
}

/* Related Posts */

.related-posts {
    margin-bottom: 70px;
}

.related-posts .heading {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 55px;
}

.related-posts .heading h2 {
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.related-posts .heading a.links {
    color: #acacac;
}

.related-posts .heading a.links:hover {
    color: #606060;
    text-decoration: none;
}

.related-posts .box-area .row {
    justify-content: space-around;
}

.related-posts .box-area .row .box {
    width: 48%;
    position: relative;
}

.related-posts .box-area .row .box .image {
    margin: 0 0 23px;
}

.related-posts .box-area .row .box .image img {
    width: 100%;
}

.related-posts .box-area .row .box .news-topic-label {
    position: absolute;
    top: 0;
    right: 0;
    background: #999;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 10px;
    margin: 0 0 23px;
    vertical-align: top;
    font-weight: 700;
}

.related-posts .box-area .row .box .news-topic-label.innsburck1976,
.related-posts .box-area .row .box .news-topic-label.innsburck1964,
.related-posts .box-area .row .box .news-topic-label.tokyo2020 {
    background-color: #ed1d24;
}

.related-posts .box-area .row .box .news-topic-label.rio2016 {
    background-color: #63b330 !important;
}

.related-posts .box-area .row .box .news-topic-label.athens2004 {
    background-color: #007dc5 !important;
}

.related-posts .box-area .row .box .news-topic-label.stockholm1912 {
    background-color: #eb9208 !important;
}

.related-posts .box-area .row .box .news-topic-label.paris1924 {
    background-color: #c6a56f !important;
}

.related-posts .box-area .row .box h2 {
    margin: 0 0 9px;
    color: #333;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;
}

.related-posts .box-area .row .box h2 a {
    color: #333;
    font-size: 19px;
    font-weight: bold;
}

.related-posts .box-area .row .box h2 a:hover {
    text-decoration: none;
    color: #0081c8;
}

.related-posts .box-area .row .box span.time {
    display: block;
    color: #999;
    line-height: 1.143em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

/* Social Wall */
.social-wall .heading {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 55px;
}

.social-wall .heading h2 {
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.social-wall .load-more .btn.btn-danger {
    width: 100%;
    border-radius: 0;
    background-color: #cf0072;
    font-size: 24px;
}

.social-wall .load-more .btn.btn-danger:hover {
    background-color: #970254;
    font-size: 26px;;
}

.social-wall .load-more .btn.btn-danger:focus,
.social-wall .load-more .btn.btn-danger:active {
    box-shadow: 0 0 0 0 transparent;
}

/* Olympic  Channel */

.olympic-channel {
    background-color: #eef0f1;
    margin-bottom: 70px;
    padding-bottom: 20px;
}

.olympic-channel .container {
    max-width: 960px;
}

.olympic-channel .heading {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.olympic-channel .heading img {
    max-width: 60px;
}

.olympic-channel .heading a.links {
    color: #606060;
    text-transform: uppercase;
}

.olympic-channel .heading a.links:hover {
    text-decoration: none;
}

.olympic-channel .cards-area .row {
    justify-content: space-between;
}

.olympic-channel .cards-area .row .card {
    /* border: 0; */
    /* background-color: transparent; */
    overflow: hidden;
}

.olympic-channel .cards-area .row .card img {
    object-fit: cover;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 145px;
    transition: all .5s;
    max-width: 100%;
}

.olympic-channel .cards-area .row .card img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.olympic-channel .cards-area .row .card .card-body {
    border-radius: .25rem;
    min-height: 100px;
    max-height: 140px;
}

.olympic-channel .cards-area .row .card .card-body h5 {
    font-size: 18px;
}

.olympic-channel .cards-area .row .card .card-body h5 a {
    color: #384959;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.olympic-channel .cards-area .row .card .card-body a:hover {
    text-decoration: none;
    color: #007bff;
}

/* Follow Us */
.follow-us .container .box-area .box {
    padding: 0 10px;
    width: 33.33%;
    position: relative;
}

.follow-us .container .box-area .box a {
    background: #3b5998;
    height: 217px;
    text-decoration: none;
    color: #fff;
    display: block;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.follow-us .container .box-area .box.facebook a:hover {
    background-color: #2d4373;
}

.follow-us .container .box-area .box.twitter a {
    background-color: #55acee;
}

.follow-us .container .box-area .box.twitter a:hover {
    background-color: #2795e9;
}

.follow-us .container .box-area .box.youtube a {
    background-color: #e52d27;
}

.follow-us .container .box-area .box.youtube a:hover {
    background-color: #c21d17;
}

.follow-us .container .box-area .box a i {
    font-size: 28px;
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: 38px;
}

.follow-us .container .box-area .box a p {
    position: absolute;
    left: 26px;
    bottom: 24px;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    width: 210px;
}

/* Footer */
.footer .footer-top {
    background: #ddd;
    padding: 20px 0 14px;
}

.footer .footer-top .row {
    justify-content: space-evenly;
}

.footer .footer-top .row div p {
    display: block;
    color: #333;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.footer .footer-top .row div ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #979797;
    text-transform: uppercase;
}

.footer .footer-top .row div ul li a:hover {
    text-decoration: none;
}

.footer .footer-mobile-sm {
    display: none;
}

.footer .footer-mobile-sm .container .row {
    margin: 0 auto;
}

.footer .footer-mobile-sm .container .row #accordion {
    width: 100%;
    position: relative;
}

.footer .footer-mobile-sm .container .row #accordion::after {
    content: "";
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    height: 1px;
    position: absolute;
}

.footer .footer-mobile-sm .container .row #accordion .card {
    background-color: transparent;
    border: 0;
}

.footer .footer-mobile-sm .container .row #accordion .card .card-header {
    background-color: transparent;
    border: 0;
    border-top: 1px solid #e6e6e6;
    border-radius: 0;
}

.footer .footer-mobile-sm .container .row #accordion .card .card-header .btn.btn-link {
    width: 100%;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding-left: 0;
    position: relative;
}

.footer .footer-mobile-sm .container .row #accordion .card .card-header .btn.btn-link.collapsed::after {
    content: "+";
}

.footer .footer-mobile-sm .container .row #accordion .card .card-header .btn.btn-link::after {
    content: "-";
    position: absolute;
    right: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer .footer-mobile-sm .container .row #accordion .card .card-body ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #979797;
    text-transform: uppercase;
}

.footer .footer-bottom {
    padding : 27px 15px 32px;    
    max-width: 1090px;
    margin: 0 auto;
}

.footer .footer-bottom .container .row {
    justify-content: space-between;
    margin: 0 auto;
}

.footer .footer-bottom .container .row .footer-left {
    display: flex;
}

.footer .footer-bottom .container .row .footer-left .logo-footer img {
    width: 90px;
    height: 41px;
}

.footer .footer-bottom .container .row .footer-left .copyright p {
    font-size: 10px;
    line-height: 15px;
    color: #979797;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    margin-bottom: 5px;
}

.footer .footer-bottom .container .row .footer-left .copyright p a {
    color: #979797;
}

.footer .footer-bottom .container .row .footer-right .newsletter .input-group-prepend .input-group-text {
    background-color: transparent;
    border-right: 0;
    color: #ddd;
    font-size: 13px;
}

.footer .footer-bottom .container .row .footer-right .newsletter .form-control {
    border-left: 0;
    border-right: 0;
    font-size: 13px;
    padding-left: 0;
}

.footer .footer-bottom .container .row .footer-right .newsletter .form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0 transparent;
}

.footer .footer-bottom .container .row .footer-right .newsletter .input-group-append .input-group-text {
    background-color: #000;
    color: #fff;
    width: 35px;
    height: 35px;
    font-size: 14px;
    padding: 0;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Roboto-condensed', sans-serif;
    cursor: pointer;
}

/* Athletes.html */

.athletes .masonry-slider {
    margin-top: 20px;
}

.athletes .masonry-slider .container {
    padding: 0;
}

.athletes .masonry-slider .grid {
    margin: 0  auto;
}

.athletes .masonry-slider .grid::after {
    content: "";
    display: block;
    clear: both;
}

/* .athletes .masonry-slider .grid-sizer {
    width: 110px;
} */

.athletes .masonry-slider .grid-item {
    position: relative;
    width: 30%;
}

.athletes .masonry-slider .grid-item {
    float: left;
}

.athletes .masonry-slider .grid-item a img {
    width: 100%;
    height: 320px;
}

.athletes .masonry-slider .grid-item a .caption {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 25px 15px;
    background-color: rgba(0,0,0,.5);
    color: #999;
}

.athletes .masonry-slider .grid-item a:hover .caption {
    display: flex;
}

.athletes .masonry-slider .grid-item a .caption span {
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
}

.athletes .masonry-slider .grid-item a .caption strong.name {
    float: left;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.athletes .masonry-slider .grid-item.col {
    padding: 0;
}

.athletes .masonry-slider .grid-item.col .coloumn-2 {
    position: relative;
}

.athletes .masonry-slider .grid-item.col .coloumn-2 img {
    height: 160px;
}

/* Search Athletes */

.athletes .search-athletes {
    margin: 59px auto 70px;
}

.athletes .search-athletes .input-group {
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.athletes .search-athletes .input-group-prepend .input-group-text {
    background-color: transparent;
    color: #ddd;
    font-size: 13px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    border: 0;
}

.athletes .search-athletes .form-control {
    border: 0;
    font-size: 13px;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.athletes .search-athletes .form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0 transparent;
}

.athletes .search-athletes .input-group-append .input-group-text {
    background-color: #ddd;
    color: #fff;
    width: 40px;
    height: 44px;
    font-size: 14px;
    padding: 0;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Roboto-condensed', sans-serif;
    border-radius: 0;
    cursor: pointer;
}

/* List Athletes */

.athletes .result .heading {
    margin-bottom: 55px;
}

.athletes .result .heading h2 {
    color: #333;
    text-transform: uppercase;
    margin: 0;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 30px;
    font-weight: bold;
}

.athletes .result .table {
    margin-bottom: 59px;
}

.athletes .result .table .table-heading {
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    padding-bottom: 17px;
}

.athletes .result .table .col1 {
    width: 93px;
}

.athletes .result .table .col2 {
    width: 30%;
}

.athletes .result .table .col3 {
    width: 39%;
}

.athletes .result .table .col4 {
    width: 190px;
}

.athletes .result .table .list-result .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.athletes .result .table .list-result .list > div {
    padding: 28px 0 13px;
}

.athletes .result .table .list-result .list a {
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.athletes .result .table .list-result .list .col1 a {
    font-weight: normal;
}

.athletes .result .table .list-result .list .col1 .profile-row {
    display: flex;
}

.athletes .result .table .list-result .list .col2 img {
    border-radius: 50%;
    width: 45px;
    margin: 0 10px 0 0;
}

.athletes .result .table .list-result .list .col4 .medal-area {
    margin: 0 0 6px;
    padding: 0;
    overflow: hidden;
    font: 700 1.336em/1.07em 'Roboto Condensed',Arial,Helvetica,sans-serif;
    color: #dab509;
    display: flex;
}

.athletes .result .table .list-result .list .col4 .medal-area .medal {
    margin: 0 6px 10px;
    display: flex;
    align-items: center;
}

.athletes .result .table .list-result .list .col4 .medal-area .num {
    font: 700 1em/1em 'Roboto Condensed',Arial,Helvetica,sans-serif;
    margin-left: 5px;
}

.athletes .result .table .list-result .list .col4 .medal-area .medal .num {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    padding: 3px 0 0;
    border: 2px solid #dab509;
    text-align: center;
    color: #dab509;
}

.athletes .result .table .list-result .list .col4 .medal-area .medal.silver span {
    color: #a1a1a1;
    border-color: #a1a1a1;
}

.athletes .result .table .list-result .list .col4 .medal-area .medal.bronze span {
    color: #ae7058;
    border-color: #ae7058;
}

/* Load More */

.load-more {
    text-align: center;
    margin-bottom: 58px;
}

.load-more a {
    display: inline-block;
    vertical-align: top;
    color: #959595;
    border: 2px solid #959595;
    padding: 7px 20px;
    min-width: 110px;
    text-decoration: none!important;
    font-weight: 700;
    line-height: 2em;
}

.load-more a:hover {
    color: #494949;
    border-color: #494949;
}

/* Featured Athletes */

.featured-athletes {
    padding: 69px 0 100px;
}

.featured-athletes .heading {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 55px;
}

.featured-athletes .heading h2 {
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.featured-athletes .carousel-athletes a {
    position: relative;
    margin: 0 10px;
}

.featured-athletes .carousel-athletes div {
    position: relative;
}

.featured-athletes .carousel-athletes a .athlete-name {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    background: rgba(51,51,51,.5);
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 22px 0 20px;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.featured-athletes .carousel-athletes a:hover .athlete-name {
    background: rgba(51,51,51,.8) ;
}

/* Blue Banner */
.athletes .banner {
    background: #acacac;
    min-height: 500px;
    margin-bottom: 76px;
}

.athletes .banner.blue-banner {
    background-color: #0081c8 !important;
}

.athletes .banner .container {
    padding: 104px 68px 28px 0;
}

.athletes .banner .container .row {
    align-items: center;
}

.athletes .banner .container .row .caption-text h2 {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 41px;
    text-transform: uppercase;
    color: #fff;
    max-width: 570px;
}

.athletes .banner .container .row .caption-text a.cta-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,.1);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 19px 24px 20px;
    width: 360px;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 17px;
    position: relative;
    margin: 0 0 76px;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.athletes .banner .container .row .caption-text a.cta-link:hover {
    background: rgba(0,0,0,.3);
    color: #fff;
    text-decoration: none;
}

/* Red Banner */
.athletes .banner.red-banner {
    background-color: #ed1941 !important;
    margin-bottom: 0;
}

.athletes .banner.red-banner .container {
    padding-top: 0;
    padding-bottom: 0;
}

/* Team.html */

/* Banner Box */
.banner-box {
    background: #333;
    text-align: center;
    margin: 0 0 60px;
    position: relative;
}

.banner-box .container {
    max-width: 1090px;
    padding: 61px 15px 22px;
    margin: 0 auto;
    min-height: 180px;
    position: relative;
}

.banner-box .container h1 {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 33px;
    font-size: 56px;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner-box .container .dropdown a.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #ccc;
    line-height: 1.143em;
    font-weight: 700;
    background: transparent;
    border: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.banner-box .container .dropdown a.btn:active,
.banner-box .container .dropdown a.btn:focus {
    box-shadow: 0 0 0 0 transparent;
}

.banner-box .container .dropdown.show .dropdown-menu.show {
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    box-shadow: 1px 5px 7px rgba(0,0,0,.3);
    width: 320px;
    position: absolute;
    left: 50% !important;
    margin: 0 0 0 -164px;
    top: 28px !important;
    z-index: 5;
    font-weight: 400;
    line-height: 1.75em;
    text-align: left;
    padding: 29px 25px 27px 33px;
    color: #666;
    border-color: #fff;
    transform: none !important;
}

.banner-box .container .dropdown.show .dropdown-menu.show:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-color: #fff;
    bottom: 100%;
    left: 50%;
    margin-bottom: 0;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-bottom-color: inherit;
}

.banner-box .container .dropdown.show .dropdown-menu.show p {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner-box .container .dropdown.show .dropdown-menu.show p a {
    text-decoration: underline;
    color: #000;
}

.banner-box .container .dropdown.show .dropdown-menu.show p a:hover {
    color: #000;
}

/* Search Team */

.team .search-team {
    margin: 59px auto 70px;
}

.team .search-team .input-group {
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.team .search-team .input-group-prepend .input-group-text {
    background-color: transparent;
    color: #ddd;
    font-size: 13px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    border: 0;
}

.team .search-team .input-group-prepend .input-group-text img {
    width: 20px;
    height: 20px;
}

.team .search-team .form-control {
    border: 0;
    font-size: 13px;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.team .search-team .form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0 transparent;
}

/* Filter Countries */
.team .filter-countries .filters-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: #ddd;
    font-weight: 700;
}

.team .filter-countries .filters-button-group a {
    color: #5c5c5c;
    text-transform: uppercase;
    margin: 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.team .filter-countries .filters-button-group a:hover {
    text-decoration: none;
    color: #5c5c5c;
}

.team .filter-countries .filters-button-group a.btn.is-checked {
    color: #000;
}

.team .filter-countries .countries {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.team .filter-countries .countries .box {
    text-align: center;
    margin: 0 0 30px;
    width: 16.66%;
    min-height: 120px;
    padding: 0 18px;
    height: 120px
}

.team .filter-countries .countries .box a {
    color: #bababa;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.team .filter-countries .countries .box a:hover {
    color: #777;
}

.team .filter-countries .countries .box .flag-image {
    margin: 0 auto 32px;
}

/* Detail-Athlete.html */

/* Profile Athlete */
.detail-athlete .profile-athlete {
    position: relative;
    width: 100%;
    padding: 125px 0 60px;
    text-align: left;
    overflow: hidden;
}

.detail-athlete .profile-athlete .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Ali_Muhammed_banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.detail-athlete .profile-athlete .container .profile-box {
    background: #fff;
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 20px;
    text-align: center;
    border-radius: 1px;
    padding: 28px 20px 20px;
    line-height: 1.143em;
    position: relative;
}

.detail-athlete .profile-athlete .container .profile-box .profile-image {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto 22px;
    text-align: center;
    position: relative;
}

.detail-athlete .profile-athlete .container .profile-box .profile-image img {
    vertical-align: middle;
    border-radius: 178px;
}

.detail-athlete .profile-athlete .container .profile-box .text-box h1 {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    letter-spacing: -2px;
    color: #333;
    margin: 0 0 12px;
    text-transform: uppercase;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .profile-row {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 20px;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .profile-row .flag-image {
    margin-top: 2px;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .medal-box {
    margin: 0 0 6px;
    padding: 0;
    overflow: hidden;
    font: 1.336em/1.07em 'Roboto Condensed',Arial,Helvetica,sans-serif;
    color: #dab509;
    display: flex;
    justify-content: center;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .medal-box div {
    align-items: center;
    margin: 0 9px 10px;
    display: flex;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .medal-box div span.num {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    padding: 3px 0 0;
    border: 2px solid #dab509;
    text-align: center;
    color: #dab509;
    margin-left: 7px;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .medal-box div.medal-silver span {
    color: #a1a1a1;
    border-color: #a1a1a1;
}

.detail-athlete .profile-athlete .container .profile-box .text-box .medal-box div.medal-bronze span {
    color: #ae7058;
    border-color: #ae7058;
}


/* id Athlete */

.detail-athlete .id-athlete {
    background: #666;
    width: 100%;
    font: 700 1.5em/1.07em 'Roboto Condensed',Arial,Helvetica,sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding: 35px 0 37px;
    margin: 0 0 60px;
}

.detail-athlete .id-athlete.usa {
    background-color: #b22234;
}

.detail-athlete .id-athlete .bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.detail-athlete .id-athlete .bio > div {
    position: relative; 
    padding: 10px 40px;
}

.detail-athlete .id-athlete .bio::before,
.detail-athlete .id-athlete .bio > div::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 70px;
    background: #fff;
    background: rgba(255,255,255,.3);
}

.detail-athlete .id-athlete .bio > div::before {
    right: auto;
    left: 0;
}

.detail-athlete .id-athlete .bio .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
}

.detail-athlete .id-athlete .bio .text-box strong {
    font-size: .857em;
    line-height: 1.07em;
    color: #fff;
    color: rgba(255,255,255,.4);
    display: block;
    font-weight: 400;
    margin: 0 0 6px;
}

.detail-athlete .id-athlete .bio .text-box a {
    color: #fff;
    text-decoration: none;
}

/* Text Content */
.detail-athlete .text-content {
    max-width: 730px;
    margin: 0 auto 55px;
    padding: 0 15px;
    text-align: center;
}

.detail-athlete .text-content p {
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin-bottom: 2em;
    text-align: left;
}

.detail-athlete .text-content h5 {
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #222222;
    font-weight: 700;
    margin-bottom: .75em;
    text-align: left;
}

.detail-athlete .text-content .extra-content {
    display: none;
}

.detail-athlete .text-content .load-more {
    text-align: center;
    margin: 18px 0 0;
}

.detail-athlete .text-content .load-more a {
    display: inline-block;
    vertical-align: top;
    color: #959595;
    border: 2px solid #959595;
    padding: 7px 20px;
    min-width: 110px;
    text-decoration: none!important;
    font-weight: 700;
    line-height: 2em;
    text-decoration: none;
}

.detail-athlete .text-content .load-more a:hover {
    color: #494949;
    border-color: #494949;
}


/* Related Posts */
.detail-athlete .related-posts .box-area .row .box {
    width: 33%;
}


/* Gallery Athlete */

.lightbox {
    text-align: center;
    margin: 50px auto;
}

.lightbox .heading {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 55px;
}

.lightbox .heading h2 {
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.lightbox .gallery-area .lightgallery {
    margin: 0 auto;
}

.lightbox .gallery-area .lightgallery li {
    width: 49%;
    margin-bottom: 20px;
    position: relative;
}

.lightbox .gallery-area .lightgallery li:nth-child(odd) {
    margin-right: 20px;
}

.lightbox .gallery-area .lightgallery li img {
    width: 100%;
    height: 100%;
}

.lightbox .gallery-area .lightgallery li .demo-gallery-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lightbox .gallery-area .lightgallery li .demo-gallery-poster img {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 42%;
}

/* Result */

.detail-athlete .result {
    margin: 50px auto;
}

.detail-athlete .result .heading {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 0 55px;
}

.detail-athlete .result .heading h2 {
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.detail-athlete .result .table .col1 {
    float: left;
}

.detail-athlete .result .table .col1 {
    width: 20%;
    padding-left: 5px;
}

.detail-athlete .result .table .col2 {
    width: 19%;
}

.detail-athlete .result .table .col3 {
    width: 13%;
}

.detail-athlete .result .area {
    display: flex;
}

.detail-athlete .result .table-heading {
    font-size: .914em;
    line-height: 1.172em;
    font-weight: 700;
    color: #999;
    padding: 0 0 17px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}

.detail-athlete .result .list-result .list {
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #222222;
}

.detail-athlete .result .list-result .col1 {
    padding: 24px 0 0;
}

.detail-athlete .result .list-result .list .col1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222222;
}

.detail-athlete .result .list-result .list .area {
    padding: 27px 0;
}

.detail-athlete .result .list-result .list .area .medal {
    color: #dab509!important;
}

.detail-athlete .result .list-result .list .area .medal .num{
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    padding: 3px 0 0;
    border: 2px solid #dab509;
    text-align: center;
    color: #dab509;
    font: 1.336em/1.123em;
    margin: 0 14px 0 0;
}

/* Related Athlete */

.related-athlete {
    margin: 50px auto;
}

.related-athlete .heading {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 55px;
}

.related-athlete .heading h2 {
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.related-athlete .heading a.links {
    color: #acacac;
    text-decoration: none;
}

.related-athlete .heading a.links:hover {
    color: #606060;
}

.related-athlete .related-list {
    justify-content: space-around;
}

.related-athlete .related-list li {
    text-align: center;   
}

.related-athlete .related-list li .list {
    display: inline-block;
    vertical-align: top;
    width: 140px;
}

.related-athlete .related-list li .list a {
    font-size: 1.164em;
    line-height: 1.104em;
    display: block;
    margin: 0 0 8px;
    color: #333;
    font-weight: 400;
    word-break: break-word;
    text-align: center;
    text-decoration: none;
}

.related-athlete .related-list li .list .image img {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 auto 11px;
    border-radius: 50%;
}

.related-athlete .related-list li .list a .name {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 8px;
}

.related-athlete .related-list li .list .profile-row {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.related-athlete .related-list li .list .profile-row span {
    font-size: 15px;
    text-transform: uppercase;
}

/* Detail-Team.html */

/* Banner Box */

.detail-team .noc-afg {
    background-color: #bf0000 !important;
}

.detail-team .noc-afg h1 {
    font-weight: 700;
}

/* About */

.detail-team .about .id-card-box {
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 3px 0 0;
    padding: 34px 30px 7px;
}

.detail-team .about .id-card-box .logo-box {
    text-align: center;
    margin: 0 0 48px;
}

.detail-team .about .id-card-box .items-active .item-list .row {
    border-top: 1px solid #ddd;
    padding: 15px 0;
    font-size: 12.8px;
    line-height: 18px;
    margin: 0 auto;
    text-transform: uppercase;
    align-items: center;
}

.detail-team .about .id-card-box .items-active .item-list .row .label {
    float: left;
    width: 100px;
    color: #999;
    font-weight: 700;
    line-height: 14px;
    margin: 2px 10px 0 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.detail-team .about .id-card-box .items-active .item-list .row a {
    text-decoration: none;
    color: #333;
}

.detail-team .about .id-card-box .items-active .item-list .row .txt .profile-row {
    display: flex;
    align-items: center;
} 

.detail-team .about .id-card-box .items-active .item-list .row .txt .profile-row span {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;
}

/* Add Text Section */

.detail-team .add-text-section .container .wrapper-section {
    padding: 30px 30px 31px;
    line-height: 1.75em;
    color: #333;
    margin: 0 auto 20px;
    background: #ddd;
}

.detail-team .add-text-section .container .wrapper-section .row {
    margin: 0 auto;
}

.detail-team .add-text-section .container .wrapper-section a img {
    margin-right: 45px;
}

.detail-team .add-text-section .container .wrapper-section .text-box {
    width: 50%;
}

.detail-team .add-text-section .container .wrapper-section .text-box h2 {
    text-transform: uppercase;
    font: 700 1.5em/1.061em 'Roboto Condensed',Arial,Helvetica,sans-serif;
    margin: 0 0 13px;
}

.detail-team .add-text-section .container .wrapper-section .text-box p {
    margin: 0 0 22px;
    font-family: 'Montserrat', sans-serif;
}

.detail-team .add-text-section .container .wrapper-section .text-box .add-btn {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #acacac;
    font-weight: 700;
    color: #acacac;
    min-width: 180px;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none!important;
    font-size: 14px;
    line-height: 24.5px;
}

.detail-team .add-text-section .container .wrapper-section .text-box .add-btn.green {
    border-color: #00a651;
    color: #00a651;
}

.detail-team .add-text-section .container .wrapper-section .text-box .add-btn.green:hover {
    color: #fff;
    background-color: #00a651;
}